@import "tailwindcss";

@theme {
  --color-primary: #05B084;
  --color-background-light: #F1EDEA;
  --color-background-dark: #121212;
  --color-line: #015A84;
  --color-button-secondary: #BADFCD;
  --font-family-display: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.drop-target {
    border-radius: 8px;
    border-color: #05B084;
    border-style: dashed;
    border-width: 2px;
}